# Python stuff
__pycache__/
*.py[cod]
.venv/
*.pyc

# data — ignore everything except the loghub submodule reference
data/raw/**
data/processed/**
data/synthetic/**

# Trained ML Artifacts
models/**/*.pkl
models/**/*.pt
models/**/*.pth
